html {background-color: cadetblue}
h1,h2,p,p1 {
  color: wheat);
  font-family: "Anton", sans-serif;
  font-weight: normal;
}
.headerbar {
  padding: 0px;
  background-color:  blueviolet;
  border: 3px solid black;
}