html {background-color: cadetblue}
h1,h2,p,p1 {
  color: wheat);
  font-family: "Anton", sans-serif;
  font-weight: normal;
}
.headerbar {
  background-color:  blueviolet;
  outline: black solid 2px;
  padding: 10px;
}